<style type="text/css">
	body {
	    background-image: url('/img/pug.png');
	    height: 1000px;
    }
	section {
	  
	  text-align:center;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #325B7F;
		small {
		  color: #325B7F;
		}
	}
    </style>

<section id="Abandon">
	<div>
		<h1>I couldn’t solve the API Bunny Maze, but maybe you can </h1>
	<div>
	<div>
		<a href="https://twitter.com/share" class="twitter-share-button" related="3scale" data-size="large" data-lang="en" data-text="I couldn’t solve the API Bunny Maze, but maybe you can http://apibunny.com/ #apibunny @3scale">Tweet</a>
		<a href="/" class="btn btn-primary btn-lg" id="start" class="next-section">Start Here</a>
	</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</section>