<html>
<head>
	<title></title>
	<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
	<%- body %>
	</div>
</body>
</html>